In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({'name'    : ['김씨','이유진', '박동현', '김민지'],
                   'english' : [10,80,60,70],
                   'math'    : [5,60,100,20]})
df

  name  english  math
0   김씨       10     5
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [5]:
df['english']

0    10
1    80
2    60
3    70
Name: english, dtype: int64

In [7]:
sum(df['english'])

220

In [8]:
sum(df['math'])

185

In [9]:
sum(df['english']) / 4 #영어 점수 평균

55.0

In [10]:
sum(df['math']) / 4

46.25

In [11]:
p = pd.DataFrame({'제품'    : ['사과','딸기', '수박'],
                   '가격' : [1800,1500,3000],
                   '판매량'    : [24,38,13]})
p

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [12]:
p['제품']

0    사과
1    딸기
2    수박
Name: 제품, dtype: object

In [14]:
sum(p['가격'])

6300

In [16]:
sum(p['판매량'])

75

In [17]:
sum(p['가격']) / 4

1575.0

In [18]:
sum(p['판매량']) / 4

18.75